/*头部*/
header {
    background-color: #56c14b;
}
div.header {
    color:#fff;
}
div.header h5 {
    margin-top: 25px;
}

/*菜单*/
div.menu {
    height: 300px;
    width:200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #50aa47;
    color: #fff;
    z-index: 2;
    font-size: 18px;
}
ul.menu {
    margin-top: 20px;
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}
ul.menu li {
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
}
ul.menu li.active {
    background-color: #305e2c;
}


/*首页地图*/
#myMap {
    height: 400px;
    margin-top: 5px;
}
div.select-box {
    padding-top: 5px;
    clear: both;
}
div.select-box select {
    width: 33%;
    float: left;
}
div.submit {
    padding-top: 5px;
}
div.submit button {
    width: 100%;
}
div.info {
    margin-top: 5px;
}